:root {
    --clr-warm-caramel: #D67E35;
    --clr-dark-coal: #2C2C2C;
    --clr-sandy-bronze: #BC9060;
    --clr-steel-ash: #656363;
    --clr-carrot-orange: #FF7400;
    --clr-mustard: #D67E34;
    --clr-light-gray: #E5E5E5;

    --font-general: Open Sans, sans-serif;
    --font-title: Tinos, serif;
    --font-cursive: "Cookie", cursive;

    --font-general-size-small: clamp(14.00px, calc(4.38 * var(--vmin)), 22.00px);
    --font-general-size-medium: clamp(15.00px, calc(4.69 * var(--vmin)), 22.00px);
    --font-general-size-semi-big: clamp(22.00px, calc(6.88 * var(--vmin)), 28.00px);
    --font-general-size-big: clamp(40.00px, calc(12.50 * var(--vmin)), 44px);

    --font-title-size-medium: clamp(24px, calc(7.5 * var(--vmin)), 35px);
    --font-title-size-big: clamp(28.00px, calc(8.75 * var(--vmin)), 52.00px);
    --font-title-size-huge: clamp(37.00px, calc(11.56 * var(--vmin)), 70px);

    --font-cursive-size-medium: clamp(30.00px, calc(9.38 * var(--vmin)), 40.00px);

    --default-column-gap: 1vw;
    --default-row-gap: calc(0.9 * var(--vh));

    --main-inline-padding: 3vw;
    --header-inline-padding: 11vw;
    --main-block-padding:calc(10 * var(--vh));
}

@media (min-width: 1200px) {
    :root {
        --font-general-size-small: clamp(9.80px, calc(1.50 * var(--vh)), 18.20px);
        --font-general-size-medium: clamp(12.60px, calc(1.92 * var(--vh)), 23.40px);
        --font-general-size-semi-big: clamp(16.80px, calc(2.56 * var(--vh)), 31.20px);
        --font-general-size-big: clamp(28.00px, calc(4.27 * var(--vh)), 52.00px);

        --font-title-size-medium: clamp(18.20px, calc(2.78 * var(--vh)), 33.80px);
        --font-title-size-big: clamp(35.00px, calc(5.34 * var(--vh)), 65.00px);
        --font-title-size-huge: clamp(56.00px, calc(8.55 * var(--vh)), 104.00px);

        --font-cursive-size-medium: clamp(21.00px, calc(3.21 * var(--vh)), 39.00px);

        --main-inline-padding: 5vw;
    }
}

@media (min-width: 3840px) {
    :root {
        --main-inline-padding: 20vw;
    }
}

/* RESET */

a {
    font-family: inherit;
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
}

p,
h1,
h2,
h3,
button {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

/* COMPONENTS */

a:hover {
    filter: brightness(80%);
}

a:focus {
    outline: 2px solid white;
    outline-offset: 0.2em;
    border-radius: 7px;
}

.general-font {
    font-family: var(--font-general);
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.general-font.small {
    font-size: var(--font-general-size-small);
}

.general-font.medium {
    font-size: var(--font-general-size-medium);
}

.general-font.semi-big {
    font-size: var(--font-general-size-semi-big);
}

.general-font.big {
    font-size: var(--font-general-size-big);
}

.general-font.cursive {
    font-style: italic;
}

.title-font {
    font-family: var(--font-title);
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.title-font.medium {
    font-size: var(--font-title-size-medium);
}

.title-font.big {
    font-size: var(--font-title-size-big);
}

.title-font.huge {
    font-size: var(--font-title-size-huge);
}

.price-font {
    font-family: var(--font-cursive);
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-cursive-size-medium);
}

.normal {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.semi-bold {
    font-weight: 600;
}

.txt-clr-warm-caramel {
    color: var(--clr-warm-caramel);
}

.txt-clr-dark-coal {
    color: var(--clr-dark-coal);
}

.txt-clr-sandy-bronze {
    color: var(--clr-sandy-bronze);
}

.txt-clr-steel-ash {
    color: var(--clr-steel-ash);
}

.txt-clr-black {
    color: black;
}

.txt-clr-white {
    color: white;
}

.button {
    min-width: 8.5625em;
    padding: 1.125em 0.9em;
    border: none;
    color: white;
    font-family: var(--font-general);
    font-weight: bold;
    font-size: var(--font-general-size-small);
    transition: 0.1s;
    box-sizing: content-box;
}

.button:hover {
    filter: brightness(80%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.bg-clr-orange {
    background-color: var(--clr-carrot-orange);
}

.bg-clr-mustard {
    background-color: var(--clr-mustard);
}

/* MAIN */

body {
    margin: 0;
}

header {
    position: absolute;
    padding: calc(4.6 * var(--vh)) var(--header-inline-padding) 0;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desktop-nav {
    display: none;
}

.mobile-nav-button {
    background: transparent;
    position: relative;
}

.mobile-nav-bar {
    position: absolute;
    right: -0.5em;
    top: 1.6em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    row-gap: var(--default-row-gap);
    background: url("img/hero-image-mobile.png");
    background-size: 200%;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 10%;

    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.mobile-nav-bar.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

@media (min-width: 1200px) {
    .mobile-nav-button {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }

    nav {
        height: 64px;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        white-space: nowrap;
        column-gap: var(--default-column-gap);
    }

    .desktop-nav-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: var(--default-column-gap);
    }

    .desktop-nav-cart {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: var(--default-column-gap);
        margin: 0 2em;
    }

    .desktop-nav-cart-img {
        width: 1em;
        height: auto;
    }

    .desktop-nav-cart::after {
        content: "";
        border-left: 1px solid #D9D9D9;
        height: 4em;
        margin-left: 0.5em;
        margin-bottom: 0.3em;
    }

    .desktop-nav-phone-number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: calc(var(--default-column-gap) / 2);
    }

    .desktop-nav-phone-ico {
        width: 1.3em;
        height: auto;
    }

    .desktop-nav-button {
        margin-left: 2em;
    }
}

.greeting{
    background-image: url("img/hero-image-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:calc( 100 * var(--vh));
    padding: calc(4.6 * var(--vh)) var(--header-inline-padding)calc( 20 * var(--vh));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.greeting-container {
    text-align: center;
    width: 100%;
    margin: auto 0;
    row-gap: var(--default-row-gap);
}

.greeting-title-span::before {
    content: "\AВ н";
    white-space: pre-line;
}

.greeting-button {
    margin-top:calc( 5 * var(--vh));
}

@media (min-width: 481px) {
    .greeting {
        background-image: url("img/hero-image.png");
    }
}

@media (min-width: 1200px) {
    .greeting {
        align-items: start;
    }

    .greeting-container {
        text-align: center;
        width: auto;
    }

    .greeting-title::after {
        content: " в"
    }

    .greeting-title-span::before {
        content: "\AН"
    }

    .greeting-slogan::before {
        content: "";
        display: inline-block;
        border-top: 2px solid white;
        width: 4em;
        margin-right: 0.5em;
        margin-bottom: 0.3em;
    }

    .greeting-slogan::after {
        content: "";
        display: inline-block;
        border-top: 2px solid white;
        width: 4em;
        margin-left: 0.5em;
        margin-bottom: 0.3em;
    }

    .greeting-button {
        margin-top:calc( 2 * var(--vh));
    }
}

@media (min-width: 3840px) {
    .greeting {
        padding: calc(4.6 * var(--vh)) var(--main-inline-padding)calc( 20 * var(--vh));
        background-image: url("img/hero-image.png");
        height: auto;
    }

    .greeting-container {
        margin-top:calc( 10 * var(--vh));
    }
}

.cards {
    padding-inline: var(--main-inline-padding);
    margin-top: -6em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(2.1 * var(--vh));
    flex-wrap: wrap;
}

.card {
    width: 10.6em;
    height: auto;
    aspect-ratio: 1 / 1;
    padding: 0.7em 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    width: 4em;
    height: auto;
    margin-top: 0.2em;
}

.card-title {
    margin: 0.5em 0;
}

.card-description {
    font-size: 0.85em;
}
@media (min-aspect-ratio: 5/4) {
    .cards {
        margin-top: calc(-12 * var(--vh));
    }
}

@media (min-width: 1200px) {
    .card img {
        width: 3.41em;
        height: auto;
        margin-top: 0.7em;
    }
}

.history {
    justify-self: center;
    padding-block: var(--main-block-padding);
    padding-inline: var(--main-inline-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap:calc( 5 * var(--vh));
}

.history-info {
    max-width: 810px;
    text-align: center;
}

.history-info>p {
    padding: calc(2.21 * var(--vh)) 0;
}

.history-info-stat-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--default-row-gap);
}

.history-info-stat {
    display: flex;
    flex-direction: column;
}

.history-collage {
    width: 9.5em;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 480px) {
    .history-info-stat-container {
        flex-direction: row;
        justify-content: center;
        column-gap: var(--default-column-gap);
    }

    .history-info-description {
        padding-inline: 10vw;
    }
}

@media (min-width: 1200px) {
    .history {
        padding-block: calc(var(--main-block-padding) * 2);
        padding-inline: var(--main-inline-padding);
        flex-direction: row;
        justify-content: space-between;
        column-gap: 7vw;
    }

    .history-info {
        max-width: 444px;
    }

    .history-info-description {
        padding-inline: 0;
    }
}

.invite {
    background-image: url("img/invite.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block:calc( 5 * var(--vh));
    padding-inline: var(--main-inline-padding);


    display: grid;
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap:calc( 5 * var(--vmin));
}

.invite-title {
    max-width: 6.6666em;
}

.invite-description {
    max-width: 340px;
}

@media (min-width: 768px) {
    .invite {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .invite-title {
        grid-column: 1;
    }

    .invite-title {
        max-width: 13.4285em;
    }

    .invite-description {
        grid-column: 1;
    }

    .invite-button {
        justify-self: right;
        grid-column: 2;
        grid-row: 1 / 3;
    }
}

@media (min-width: 1200px) {
    .invite {
        padding-inline: calc(var(--main-inline-padding) + 7vw);
        max-height: 357px;
        text-align: left;
        justify-items: stretch;
        column-gap: var(--default-column-gap);
        row-gap: var(--default-row-gap);
    }

    .invite-title {
        max-width: 13.4285em;
    }

    .invite-description {
        max-width: 100%;
    }
}

.dishes {
    padding: var(--main-block-padding) var(--main-inline-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishes-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.8333em;
    row-gap: 2.8333em;
}

.dishes-side-img-container {
    background-image: url("img/dishes/dishes-side.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(66.31 * var(--vh));
}

.dishes-side-img {
    display: none;
}

.dish-list {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--default-row-gap) * 2);
}

.dish {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: var(--default-column-gap);
}

.dish-img {
    width: 5.7272em;
    height: auto;
    display: block;
}

.dish-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--default-row-gap);
    text-align: center;
}

@media (min-width: 480px) {
    .dishes-side-img-container {
        background-image: none;
        width: auto;
        height: auto;
        display: flex;
    }

    .dishes-side-img {
        max-width: 15.9287em;
        height: auto;
        display: block;
    }
}

@media (min-width: 1200px) {
    .dishes-container {
        flex-direction: row;
        align-items: center;
        column-gap: calc(var(--default-column-gap) * 2);
    }

    .dish-description {
        flex-direction: row;
        column-gap: var(--default-column-gap);
    }

    .dish-title::after {
        content: "";
        margin-left: var(--default-column-gap);
        border-bottom: 2px dashed black;
        width: 10vw;
        display: inline-block;
        vertical-align: middle;
    }
}

.menu {
    background-image: url("img/menu-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: var(--main-block-padding);
    padding-inline: var(--main-inline-padding);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap:calc( 5 * var(--vh));
}

.menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: calc(var(--default-column-gap) * 3);
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 1.3333em;
    padding: 5.3333em 1.7333em 1.9333em;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.menu-item:first-child::before {
    content: "RECOMMENDED";
    font-family: var(--font-general);
    font-size: var(--font-general-size-small);
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--clr-mustard);
    padding: 0.7em;
}

.menu-item-img-container {
    width: clamp(222px, 15em, 450px);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template: repeat(3, 33%) / repeat(3, 33%);
}

.menu-item-img {
    width: 100%;
    height: auto;
    grid-area: 1 / 1 / 4 / 4;
}

.menu-item-img-price {
    justify-self: end;
    align-self: flex-end;
    grid-area: 3 / 3 / 3 / 3;
    width: 3em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 6px solid white;
    background-color: var(--clr-mustard);
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {
    padding:calc( 2 * var(--vh)) var(--main-inline-padding);
    background-color: var(--clr-light-gray);
}

.feedback-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    row-gap: calc(var(--default-row-gap) * 4);
}

.feedback-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: var(--default-column-gap);
}

.feedback-person-img {
    width: 6.67em;
}

@media (min-width: 768px) {
    .feedback {
        padding:calc( 5 * var(--vh)) calc(var(--main-inline-padding) + 4vw);
    }
}

@media (min-width: 1200px) {
    .feedback {
        padding: var(--main-block-padding) calc(var(--main-inline-padding) + 15vw);
    }

    .feedback-item {
        text-align: center;
    }

}

.dish-gallery {
    padding: var(--main-block-padding) calc(var(--main-inline-padding) + 10vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:calc( 5 * var(--vh));
}

.dish-gallery-container {
    width: 100%;
    display: grid;
    gap: calc(5 * var(--vmin));
    grid-template-rows: repeat(6, 1fr);
}

.dish-gallery-image {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 768px) {
    .dish-gallery-container {
        gap:calc( 3 * var(--vmin));
        grid-template-rows: none;
        grid-template-areas: "g g"
            "c s"
            "c2 s2"
            "g2 g2";
    }

    .dish-gallery-image-n1 {
        grid-area: g;
    }

    .dish-gallery-image.n2 {
        grid-area: c;
    }

    .dish-gallery-image.n3 {
        grid-area: s;
    }

    .dish-gallery-image.n4 {
        grid-area: c2;
    }

    .dish-gallery-image.n5 {
        grid-area: s2;
    }

    .dish-gallery-image-n6 {
        grid-area: g2;
    }
}

@media (min-width: 1200px) {
    .dish-gallery {
        position: relative;
    }

    .dish-gallery-container {
        gap:calc( 2 * var(--vh));
        grid-template-areas: "g g c s"
            "c2 s2 g2 g2";
        --side-rectangle-width: calc(0.0318*(100vw - 2 * (var(--main-inline-padding) + 10vw)));
        --side-rectangle-height: calc(100/30*var(--side-rectangle-width));
        --side-rectangle-color: red;
    }

    .dish-gallery-container::before {
        content: "";
        background-color: var(--side-rectangle-color);
        width: var(--side-rectangle-width);
        height: var(--side-rectangle-height);
        position: absolute;
        left: 0;
    }

    .dish-gallery-container::after {
        content: "";
        background-color: var(--side-rectangle-color);
        width: var(--side-rectangle-width);
        height: var(--side-rectangle-height);
        position: absolute;
        right: 0; 
    }
}

.cooks {
    padding: var(--main-block-padding) calc(var(--main-inline-padding) + 10vw);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: calc( 5 * var(--vh));
}

.cooks-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: calc(2.22 * var(--vmin));
    
}

.cooks-img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (min-width: 768px) {
    .cooks-container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .cooks-img:nth-child(3) {
        width: 50%;
        grid-column: span 2;
    }
}

@media (min-width: 1200px) {
    .cooks-container {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .cooks-img:nth-child(3) {
        width: 100%;
        grid-column: 3;
    }
}

/* .cooks-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(2.22 * var(--vmin));
}

.cooks-container>img {
    width: calc(0.3*(100vw - 2 * (var(--main-inline-padding) + 10vw)));
    height: auto;
    min-width: 252px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top:calc( 10 * var(--vh));
    background-image: url("img/footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:calc( 72 * var(--vh));
}